# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env

# IDE
.vscode/
.idea/

# Uploaded Files
uploads/
audio/
transcripts/
chunks/
embeddings/
chroma_db/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db
