fastapi
uvicorn
python-dotenv
python-multipart

pymongo
motor

litellm
mistralai>=1.0.0
google-generativeai

faster-whisper
moviepy
opencv-python-headless
ffmpeg-python

numpy
pydantic
pydantic-settings

requests
httpx

tqdm
watchfiles