fastapi
uvicorn
python-dotenv
python-multipart

pymongo
motor

litellm
mistralai
google-generativeai

faster-whisper
moviepy
opencv-python-headless
ffmpeg-python

numpy
pydantic
pydantic-settings

requests
httpx

tqdm
watchfiles